# Mac OS X
.DS_Store
*.swp
*~.nib

build/
adhoc/

.xcodeproj/ !*.xcodeproj/project.pbxproj

*.mode1v3
*.mode2v3

build/

xcuserdata
*.xcuserstate

Week 3 MyFaves Exercise/Week 3 MyFaves.xcodeproj/project.xcworkspace/xcuserdata/cbkonkol.xcuserdatad/UserInterfaceState.xcuserstate
